*{
    width: 100vw;
    height: 100vh;
    background-color: pink;
    margin: 0;
    padding: 0;
}
.head{
    display: flex;
    height:115px;
    width: 100%;
    background-color: red;
}

.technology{
    display:flex;
    height:25%;
    width:100%;
    background-color: green;
}